<?xml version="1.0" encoding="UTF-8"?>
<web-app version="3.0"
    xmlns="http://java.sun.com/xml/ns/javaee"
    xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
    xsi:schemaLocation="http://java.sun.com/xml/ns/javaee http://java.sun.com/xml/ns/javaee/web-app_3_0.xsd">
  <servlet>
    <description>This is the description of my J2EE component</description>
    <display-name>This is the display name of my J2EE component</display-name>
    <servlet-name>main</servlet-name>
    <servlet-class>One.main</servlet-class>
  </servlet>
  <servlet>
    <description>This is the description of my J2EE component</description>
    <display-name>This is the display name of my J2EE component</display-name>
    <servlet-name>Session1</servlet-name>
    <servlet-class>Session.Session1</servlet-class>
  </servlet>
  <servlet>
    <description>This is the description of my J2EE component</description>
    <display-name>This is the display name of my J2EE component</display-name>
    <servlet-name>Session2</servlet-name>
    <servlet-class>Session.Session2</servlet-class>
  </servlet>
  <servlet>
    <description>This is the description of my J2EE component</description>
    <display-name>This is the display name of my J2EE component</display-name>
    <servlet-name>Login</servlet-name>
    <servlet-class>Session.Login</servlet-class>
  </servlet>
  <servlet>
    <description>This is the description of my J2EE component</description>
    <display-name>This is the display name of my J2EE component</display-name>
    <servlet-name>HeaderServlet</servlet-name>
    <servlet-class>Session.HeaderServlet</servlet-class>
  </servlet>
  <servlet>
    <description>This is the description of my J2EE component</description>
    <display-name>This is the display name of my J2EE component</display-name>
    <servlet-name>LoginCl</servlet-name>
    <servlet-class>Session.LoginCl</servlet-class>
  </servlet>
  <servlet>
    <description>This is the description of my J2EE component</description>
    <display-name>This is the display name of my J2EE component</display-name>
    <servlet-name>BlogLogins</servlet-name>
    <servlet-class>Blog.BlogLogins</servlet-class>
  </servlet>
  <servlet>
    <description>This is the description of my J2EE component</description>
    <display-name>This is the display name of my J2EE component</display-name>
    <servlet-name>LoginSuccess</servlet-name>
    <servlet-class>Blog.LoginSuccess</servlet-class>
  </servlet>
  <servlet>
    <description>This is the description of my J2EE component</description>
    <display-name>This is the display name of my J2EE component</display-name>
    <servlet-name>LoginFail</servlet-name>
    <servlet-class>Blog.AddFail</servlet-class>
  </servlet>
  <servlet>
    <description>This is the description of my J2EE component</description>
    <display-name>This is the display name of my J2EE component</display-name>
    <servlet-name>AddControl</servlet-name>
    <servlet-class>Blog.AddControl</servlet-class>
  </servlet>







  <servlet-mapping>
    <servlet-name>main</servlet-name>
    <url-pattern>/servlet/main</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
    <servlet-name>Session1</servlet-name>
    <url-pattern>/servlet/Session1</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
    <servlet-name>Session2</servlet-name>
    <url-pattern>/servlet/Session2</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
    <servlet-name>Login</servlet-name>
    <url-pattern>/servlet/Login</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
    <servlet-name>HeaderServlet</servlet-name>
    <url-pattern>/servlet/HeaderServlet</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
    <servlet-name>LoginCl</servlet-name>
    <url-pattern>/servlet/LoginCl</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
    <servlet-name>BlogLogins</servlet-name>
    <url-pattern>/servlet/BlogLogins</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
    <servlet-name>LoginSuccess</servlet-name>
    <url-pattern>/servlet/LoginSuccess</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
    <servlet-name>LoginFail</servlet-name>
    <url-pattern>/servlet/AddFail</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
    <servlet-name>AddControl</servlet-name>
    <url-pattern>/servlet/AddControl</url-pattern>
  </servlet-mapping>

<!-- 设置该项目的Session的生存时间 -->
  <session-config>
     <session-timeout>30</session-timeout>
  </session-config>
</web-app>